[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/tabular.vim"]
	path = bundle/tabular.vim
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/python-syntax.vim"]
	path = bundle/python-syntax.vim
	url = https://github.com/hdima/python-syntax.git
[submodule "bundle/vim-preview.vim"]
	path = bundle/vim-preview.vim
	url = https://github.com/greyblake/vim-preview.git
